button{
    width: 100%;
}
.btn-primary {
    border: 1px solid;
    color: #000000;
    background-color: #fdda19;
    border-color: #fdda19;
}

.btn{
    font-size: 16px;
    text-transform: none;
    white-space: normal;
    box-shadow: none;
    font-weight: 600;
    padding: 10px 15px;
    
    line-height: 1.375;
}



//************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
    //   @include media-breakpoint-down(sm) {
    //     app-service-key-facts{

    //     }
    //   }

    // @media  (min-width: 576px)
    // {
    //     padding: ;
    // }