.row{
    padding: 0 50px 0 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 50px;
}

.pdp-left-slot{
    padding: 0 15px 0 0;
}

.pdp.right-slot{
    padding: 0 0 0 15px;
}




//************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
    //   @include media-breakpoint-down(sm) {
    //     app-service-key-facts{

    //     }
    //   }

    @media  (min-width: 650px)
    {
        .pdp-right-slot{
            padding-left: 0px;
        }
    }
