<!-- <div class="container"> -->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 pdp-left-slot">
            <app-service-apply-online [PDP]="pdp"></app-service-apply-online>
            <app-service-apply-by-email [PDP]="pdp"></app-service-apply-by-email> 
            <app-service-apply-by-phone [PDP]="pdp"></app-service-apply-by-phone>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 pdp-right-slot">
            <app-service-key-facts [PDP]="pdp"></app-service-key-facts>
            <app-service-related-links [PDP]="pdp"></app-service-related-links>
            <app-service-help-desk></app-service-help-desk>
            <app-service-share-this-page></app-service-share-this-page>
        </div>
    </div>
<!-- </div> -->