<ng-container *ngIf="PDP | async as data" class="card-transparent">
    
    <h1 [innerHtml]="data.name"></h1>
    <div *ngIf="data.description as description">
       <div [innerHtml]="description"></div> 
    </div>
    <div class="card">
    <ng-container *ngFor="let applyOnline of data.applyOnlineCMS">
        <h2 [innerHtml]="applyOnline.title"></h2>
        <div [innerHtml]="applyOnline.description"></div>
        <button class="btn btn-primary" type="submit">
            <span>{{data.addToCartLabelText}}</span>
        </button>
    </ng-container>
</div>
</ng-container>

