<div class="container-fluid">
  <button type="button" class="addressBackBtn">
    <a (click)="onBack()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </button>
  <span class="page-title">{{page_label.page_title}}</span>
  <br><br>
  <p class="text-body">{{page_label.text_body_1}}
  </p>
  <br>
  <p class="text-body">{{page_label.text_body_2}}
  </p>
  <br>
  <div class="col-xs-6 col-sm-8 visible-lg visible-md visible-sm totalResults-top-padding">
    <div class="totalResults ng-binding top totalResults-top-padding col-xs-12 col-sm-5" tabindex="0">
      <span class="total-bill-result">
        <!-- outputs which bills are displayed in 1-10,11-20 format  -->
        <strong>{{
          (config.currentPage * config.itemsPerPage) - 9}}&nbsp; - &nbsp;{{(config.currentPage *
          config.itemsPerPage)>config.totalItems ?
          config.totalItems : (config.currentPage *config.itemsPerPage)
          }} </strong>
        &nbsp;of&nbsp;
        <strong>&nbsp;{{config.totalItems}}&nbsp;</strong> bills found
      </span>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <input type="hidden" name="customerPK" value=" ">
        <label class="hidden-md hidden-lg" for=" sortOptions1">{{page_label.filterlabel}}</label>
        <select id="sortOptions1" name="filterCode" class="form-control bills-select sortOptions1"
          (change)="filterData($event.target.value)">
          <option value="All" selected="selected">
            Show all</option>
          <option value="Unpaid">
            Show unpaid &amp; part-paid</option>
          <option value="Paid">
            Show paid</option>
        </select>
        <input type="hidden" name="show" value="Page">
      </div>
    </div>
  </div>
  <div class="text-right totalResults top">
    <pagination-template #p="paginationApi" (pageChange)="onTableDataChange($event)">
      <div class="custom-pagination">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <span (click)="p.previous()">
            <span class="glyphicon glyphicon-chevron-left"></span> </span>
        </div>
        <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <span (click)="p.next()"> <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
        </div>
      </div>
    </pagination-template>
  </div>
  <div class="divOuterTable row no-margin my-bill ">
    <div class="divTable billhistory-list-table" role="grid">
      <div class="divTableHeading hidden-xs hidden-sm" role="row">
        <span class="divTableCell col-md-2" role="columnheader">{{page_label.BillType}}</span>
        <span class="divTableCell col-md-1" role="columnheader">{{page_label.DueDate}}</span>
        <span class="divTableCell col-md-1" role="columnheader"> {{ page_label.BillTotal }}</span>
        <span class="divTableCell col-md-1" role="columnheader"> {{ page_label.IssueDate }} </span>
        <span class="divTableCell col-md-1" role="columnheader"> {{ page_label.BillID }}</span>
        <span class="divTableCell col-md-1" role="columnheader"> {{ page_label.Status }} </span>
        <span class="divTableCell col-md-1" role="columnheader"> {{ page_label.DueDate }} </span>
        <span class="divTableCell col-md-2" role="columnheader">
          <span class="hidden-xs hidden-sm hidden-md hidden-lg">{{ page_label.DownloadAs }}</span>
        </span>
        <span class="divTableCell col-md-2" role="columnheader">
          <span class="hidden-xs hidden-sm hidden-md hidden-lg">Bill options</span></span>
      </div>
      <ng-container *ngIf="products">
        <div *ngFor="let item of products.bills | paginate: config" class="divTableRow" role="row">
          <span class="divTableCell col-xs-12 col-sm-12 col-md-12 col-lg-2" role="gridcell">
            <strong>{{item.type.description}}</strong>
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
            <div class="hidden-md hidden-lg">
              <strong>Due Date</strong>
            </div>{{this.datepipe.transform(item.dueAt, 'MMM dd,yyyy')}}
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 bill-amount-due" role="gridcell">
            <div class="hidden-md hidden-lg">
              <strong>Amount Due</strong>
            </div>{{item.outstandingAmount | currency: item.currency.isocode :item.currency.symbol}}
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 bill-total" role="gridcell">
            <div class="hidden-md hidden-lg">
              Bill Total</div>{{item.totalAmount | currency: item.currency.isocode:item.currency.symbol}}
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
            <div class="hidden-md hidden-lg">
              Issue Date</div>{{this.datepipe.transform(item.createdAt, 'MMM dd,yyyy')}}
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
            <div class="hidden-md hidden-lg">
              Bill ID</div>{{item.displayBillId}}
          </span>
          <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1" role="gridcell">
            <div class="hidden-md hidden-lg">
              Status</div>{{item.paymentStatus}}
          </span>
          <span class="divTableCell col-xs-5 col-sm-6 col-md-6 col-lg-2" role="gridcell">
            <div class="col-md-12 no-space">
              <i class="bi bi-file-earmark-pdf"></i> <a href="http://localhost:4200/my-account/cea-bills"
                class="bill-download-pdf"> {{ page_label.DownloadAs }}</a>
            </div>
          </span>
          <span class="divTableCell billType-message col-xs-7 col-sm-6 col-md-6 col-lg-2" role="gridcell">
            <div *ngIf="item.isOverDue" class="tbutton">Overdue Bill</div>
            <div *ngIf="item.type.isPaymentAllowed" class="tbutton">Payment Not
              Allowed</div>
            <div>
              <div class="col-md-12 no-space bill-more-info">
                <button type="button" class="btn btn-primary btn-block "
                  onclick="window.location='/yacceleratorstorefront/en/bills/payment?billCode=10004'">
                  {{item.type.isPaymentAllowed ? 'Pay This Bill' : 'More Info'}}
                </button>
              </div>
            </div>
          </span>
        </div>
      </ng-container>
      <div class="text-right">
        <pagination-template #p="paginationApi" (pageChange)="onTableDataChange($event)">
          <div class="custom-pagination">
            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
              <span (click)="p.previous()">
                <span class="glyphicon glyphicon-chevron-left"></span> </span>
            </div>
            <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <div class="pagination-next" [class.disabled]="p.isLastPage()">
              <span (click)="p.next()"> <span class="glyphicon glyphicon-chevron-right"></span>
              </span>
            </div>
          </div>
        </pagination-template>
      </div>