<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<div class="container-fluid">
  <button type="button" class="addressBackBtn">
    <a (click)="onBack()">
      <span class="glyphicon glyphicon-chevron-left" style="font-size: 18px;"></span>
    </a>
    <!-- <img src = "\assets\chevron-left.svg" alt="chevron-left"/> -->
  </button>
  <span class="page-title">Bills</span>
  <br>

  <br>

  <p class="text-body">These are your bills. Select which one you want to pay for.
  </p>
  <br>
  <p class="text-body">Find the bills of your relationships below.
  </p>
  <br>



  <div class="text-right">
    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
  </div>

  <div class="divOuterTable row no-margin my-bill">
    <div class="divTable billhistory-list-table" role="grid">
      <div class="divTableHeading hidden-xs hidden-sm" role="row">
        <span class="divTableCell col-md-2" role="columnheader">Bill Type</span>

        <span class="divTableCell col-md-1" role="columnheader">Due Date</span>

        <span class="divTableCell col-md-1" role="columnheader">Amount Due</span>

        <span class="divTableCell col-md-1" role="columnheader">Bill Total</span>

        <span class="divTableCell col-md-1" role="columnheader">Issue Date</span>

        <span class="divTableCell col-md-1" role="columnheader">Bill ID</span>

        <span class="divTableCell col-md-1" role="columnheader">Status</span>

        <span class="divTableCell col-md-2" role="columnheader">
          <span class="hidden-xs hidden-sm hidden-md hidden-lg">Download bill as a
            PDF</span>
        </span>

        <span class="divTableCell col-md-2" role="columnheader">
          <span class="hidden-xs hidden-sm hidden-md hidden-lg">Bill options</span></span>
      </div>

      <div *ngFor="let item of products.bills | paginate: { itemsPerPage: count, currentPage: p }" class="divTableRow"
        role="row">

        <span class="divTableCell col-xs-12 col-sm-12 col-md-2" role="gridcell">
          <strong>{{item.type.description}}</strong>
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
          <div class="hidden-md hidden-lg">
            <strong>Due Date</strong>
          </div>{{this.datepipe.transform(item.dueAt, 'MMM dd,yyyy')}}
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 bill-amount-due" role="gridcell">
          <div class="hidden-md hidden-lg">
            <strong>Amount Due</strong>
          </div>{{item.outstandingAmount}}
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 bill-total" role="gridcell">
          <div class="hidden-md hidden-lg">
            Bill Total</div>{{item.totalAmount}}
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
          <div class="hidden-md hidden-lg">
            Issue Date</div>{{this.datepipe.transform(item.createdAt, 'MMM dd,yyyy')}}
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1 same-line" role="gridcell">
          <div class="hidden-md hidden-lg">
            Bill ID</div>{{item.displayBillId}}
        </span>

        <span class="divTableCell col-xs-6 col-sm-6 col-md-6 col-lg-1" role="gridcell">
          <div class="hidden-md hidden-lg">
            Status</div>{{item.paymentStatus}}
        </span>

        <span class="divTableCell col-xs-5 col-sm-6 col-md-6 col-lg-2" role="gridcell">
          <div class="col-md-12 no-space">
            <i class="bi bi-file-earmark-pdf"></i> <a href="http://localhost:4200/my-account/cea-bills"
              class="bill-download-pdf"> Download bill as PDF</a>
          </div>
        </span>

        <span class="divTableCell billType-message col-xs-7 col-sm-6 col-md-6 col-lg-2" role="gridcell">
          <div *ngIf="item.isOverDue" class="tbutton">Overdue Bill</div>

          <div *ngIf="item.type.isPaymentAllowed" class="tbutton">Payment Not
            Allowed</div>
          <div>
            <div class="col-md-12 no-space bill-more-info">
              <button type="button" class="btn btn-primary btn-block "
                onclick="window.location='/yacceleratorstorefront/en/bills/payment?billCode=10004'">
                {{item.type.isPaymentAllowed ? 'Pay This Bill' : 'More Info'}}
              </button>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- *ngif=" products.bills == null" -->
<!-- <table class="table table-striped table-borderless">

    <tr class="">
      <th>Bill Type</th>
      <th scope="col" class="table-header talign">Due Date</th>
      <th scope="col" class="table-header tleft">Amount Due</th>
      <th scope="col" class="table-header talign">Bill Total</th>
      <th scope="col" class="table-header talign">Issue Date</th>
      <th scope="col" class="table-header talign">Bill ID</th>
      <th scope="col" class="table-header talign">Status</th>
      <th></th>
      <th></th>
    </tr>

    <tbody>
      <tr *ngFor="let item of products.bills | paginate: { itemsPerPage: count, currentPage: p }">

        <th scope="row"></th>
        <td class="align-top talign"></td>
        <td class="align-top "></td>
        <td class="align-top "></td>
        <td class="align-top talign"></td>
        <td class="align-top talign"></td>
        <td class="align-top talign"></td>
        <td class="align-top talign"> Download bill as
          PDF</td>
        <td class="align-top talign">


          <button type="button" class="btn btn-primary" *ngIf="item.type.isPaymentAllowed"></button> -->
<!-- </div>
</td>
</tr>

</tbody>
</table>
</div> -->
<!-- ______________________________________________________-->