
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
body {
    font-family: 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    position: static;
    margin-bottom: 320px;
}
.glyphicon-chevron-left{
    font-size: 18px;
    color: #156ab5;
}
.addressBackBtn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: -0.3%;

}
.page-title{
    color: #104d83;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
    padding-left: 10px;
    white-space: normal;
}
.text-body{
    font-size: 14px;
}
.btn {
    font-size: 14px;
    text-transform: none;
    white-space: normal;
}
.btn-primary {
    border: 1px solid;
    color: #000000;
    background-color: #fdda19;
    border-color: #fdda19;
    font-weight: bold;
    width: 110%;
}
.bi-file-earmark-pdf{
    font-size: 25px;
}

table{
    box-shadow: #000000;
    font-family: 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif;

}
    .table-striped>tr>th{

    font-family: 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif;

        overflow: auto;
        padding: 20px;
        font-weight: 550;
        font-size: 17px;
        vertical-align: top;
        background-color: #f2f2f2;
        color: #000000;
        text-align: left;
    }
    .tleft{
        text-align: left;
    }
    .talign{
        text-align: center;
    }
    .tbutton{
        background-color: white;
        color: #FF0F0F;
        text-align: center;
    }
    
    .table-striped>tbody>tr{
        font-size: 14px;

    }
.table-striped>tbody>tr:nth-child(even)>td{
    background-color: #F9F9F9;


}

.table-striped>tbody>tr:nth-child(odd)>td{
    background-color:white;
    
}
.table-striped>tbody>tr:nth-child(even)>th{
    background-color: #F9F9F9;
}
.table-striped>tbody>tr:nth-child(odd)>th{
    background-color:white;
    
}
div {
    display: block;
}

.divTable {
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    width: 100%;
}

.divTableHeading {
    overflow: auto;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    vertical-align: top;
    background-color: #f2f2f2;
    color: #000000;
}

.divTableCell {
    padding: 10px;
    word-break: break-word;
}

.divTableRow {
    overflow: auto;
}

.no-margin {
    margin: 0 !important;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.global-content-space {
    padding-left: 50px;
    padding-right: 50px;
}
.bill-amount-due .bill-total{ 
    text-align: left;
}

.custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}

.page-number.current{
    background: #ffffff!important;
    border: 2px solid #458873;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}
