<div class="latest-news-component container" *ngIf="data$ | async as data">
    <div class="latest-news-box-wrapper">
        <div class="latest-news">
            <cx-media class="responsive" [container]="data.media"></cx-media>
            <div class="latest-news-content">
                <h3 class="latest-news-title">
                    <span><p>{{data.header}}</p></span>
                </h3>
                <p class="description">{{data.description}}</p>
                <a href="#">read more<span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
        </div>
    </div>
</div>
