
a:hover{
    text-decoration: none;
}
.tagex a:focus{
    background-color: #fdda19;
    color: black;
}
.tagex li {
    display: grid;
    list-style-type: none;
     grid-gap: 10px;
   font-family: 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif;
   font-size: 14px;

   
}
ul{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    grid-auto-rows: 1fr;
    width: 100%;
}
.serviceall a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.frequentserviceslist{
   // float: left;
    float: right;
    margin-right: 3%;
}
@media(max-width:639px){
    .frequentserviceslist{
        margin-right: 0%;
        margin-bottom: 14%;
    }
    ul{
        padding: 0 10px;
    }
    h2{
        margin-left: 0%;
    }
}

//************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
      @media (max-width: --screen-xs-max) {

      
    }
    
     
    
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //                          TABLET STYLES
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    
    // 640px - 1023px 
    @media (min-width: --screen-sm-min) {

    }
