<div class="card">
    <ng-container *ngIf="data$ | async as data">
        <h2>
            {{data.title}}
        </h2>
        <div class="pdp-section-content">
            <div class="social-icons">
                <!-- <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i> -->
                <ul>
                    <li class="icon-list">
                        <a class="follow-us follow-us-Facebook icon" href="https://www.facebook.com" title="Facebook"
                            target="_blank">
                            <span class="visuallyhidden">Facebook</span>
                        </a>
                    </li>
                    <li class="icon-list">
                        <a class="follow-us follow-us-Twitter icon" id="twitter" href="#" onclick="twitterShare();"
                            title="twitter">
                            <span class="visuallyhidden">twitter</span>
                        </a>
                    </li>
                    <li class="icon-list">
                        <a class="follow-us follow-us-Instagram icon" href="https://www.instagram.com" title="Instagram"
                            target="_blank">
                            <span class="visuallyhidden">Instagram</span>
                        </a>
                    </li>
                    <li class="icon-list">
                        <a class="follow-us follow-us-LinkedIn icon" href="#" onclick="linkedInShare();"
                            title="linkedin">
                            <span class="visuallyhidden">linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>