cx-product-grid-item.col-md-4 {
  flex: 0 0 33.33333333%;
  max-width: 50% !important;
}



.plp-card-cell {
  padding: 8px 15px;
  margin-bottom: -18px;
  border: 0 solid var(--cx-color-light);
  min-height: 300px;

}

.plp-custom-padding {
  padding-right: 4px;
}

.plp-button {
  padding-left: 0px !important;
  max-width: 50%;
}

.plp-btn {
  padding-top: 10px;


}

.plp-card {
  margin: 15px 0 15px 0;
  background: var(--well-quaternary-bg);
  min-height: 300px;
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  word-break: break-all;
}

.card-plp,
.card-section-h2 {
  padding-bottom: 0px;
}

a:hover {
  text-decoration: none;
}


.plp-card-title {
  font-size: 20px; // make variable
  font-weight: 500; //make a variable 

  text-align: left;
  margin: 0 0 0 0;
  color: var(--cx-color-services-background);
  //

}

.plp-card-title:hover {
  text-decoration: none;
  color: var(--cx-color-services-background);

}

.card-section,
.card-section-content {
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  margin: 5px 0px 80px 0px;
}

.card-section-h4 {
  font-size: 16px;
  font-weight: 575;
  margin-bottom: 10px;
}

.card-section,
.card-section-h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color-4);
  // margin-top: 10px;
  margin: 20px 15px 10px 0px;


}

.custom-card-section-footer {
  padding-left: 0px;
  padding-right: 0px;
}

.btn:hover,
.btn:active:hover,
.btn.active:hover {
  outline: 2px solid #000000;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #ffffff;
  background-color: #000000;
  border-color: #bcbaba;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-white,
.custom-btn-white {
  font-size: 16px;
  text-transform: none;
  white-space: normal;
  background-color: white;
  font-size: 16px;
  border-color: #bcbaba;
  font-weight: 600;

}

.custom-btn {
  font-size: 1.125rem;
  text-transform: none;
  line-height: 1.34;
  padding: 11px 12px;
  height: 48px;
  max-height: 48px;
  min-width: 48px;
  border-radius: var(--cx-buttons-border-radius);
  text-align: center;
  color: var(--cx-color-dark);
  outline: 1px solid var(--border-color-4);
}

.custom-btn:hover {
  text-transform: none;
  text-decoration: none;
  color: var(--cx-color-light);
  background-color: var(--cx-color-dark);
  outline: 1px solid var(--cx-color-dark);


}


plp-register-btn {
  font-size: 16px;

}

.btn,
.custom-btn {
  font-size: 16px;
}

@include media-breakpoint-down(sm) {
  .plp-card-cell {
    width: 200%;
    max-width: 200%;
  }

  .plp-button {
    max-width: 100%;
    margin-bottom: 10px;
  }

}