.banner{
    position: relative;
    margin-bottom: -18.5%;
    margin-top: -18.5%;
}

.qps-banner {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.banner-text-wrapper {
    top: auto;
    bottom: 0;
}
.banner-text-wrapper {
    background: var(--brand-tertiary);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.banner-text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: left;
    color: var(--cx-color-services);
}
.banner-text h1 {
    font-size: 32px;
    font-weight: normal;
    margin-top: -5px;
}
.banner-text-wrapper .banner-text a {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
    color: var(--cx-color-services);
    text-decoration: none;
    font-size: 16px;
}
app-pscustom-simple-banner .banner-text-wrapper .banner-text {
    text-align: left;
}

//************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
      @include media-breakpoint-down(sm) {
        app-pscustom-simple-banner{
            .qps-banner .banner{
                margin: 0%;
            }

            .banner-text-wrapper .banner-text {
                text-align: center;
            }
        }
      
    }
    
     
    
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //                          TABLET STYLES
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    
    // 640px - 1023px 
    @include media-breakpoint-between(sm, md) {
        .banner{
            position: relative;
            margin-top: -10.5%;
            margin-bottom: -10.5%;
        }
        app-pscustom-simple-banner .banner-text-wrapper .banner-text{
            text-align: center;
        }
    }