    .heading{
        padding-left: 3%;
    }
    .news{
        font-size: 32px;
        font-weight: 400;
        color: var(--cx-custom-heading);
        text-transform: uppercase;
        margin-bottom: 20%;
        margin-top: 30%;
    }


//************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
      @include media-breakpoint-down(sm) {
            .news{
                margin-bottom: 10%;
                margin-top: 15%;
            }

    }
    
     
    
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //                          TABLET STYLES
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    //************************************************************
    
    // 640px - 1023px 
    @include media-breakpoint-between(sm,md) {

    }
