.row{
    margin: 8px;
}
.logos{
    background-color: #f5f5f5;
}
.heading{
    padding-left: 3%;
}
.news{
    font-size: 27px;
    font-weight: normal;
    color: #002f6c;
    text-transform: uppercase;
    margin-bottom: 15%;
    margin-top: 15%;
}