<ng-template cxOutletRef ="Section2B" cxOutletPos="after" let-model>
    <div class="heading text-center">
        <h2 class="news">
            Latest News
        </h2>
    </div>
</ng-template>
<div class="logos">
    <div class="row">
        <a href="#">
            <img src="assets/icons/hybris-logo.jpg" class="hybrislogo" alt="hybrislogo">
        </a>
    </div>
    <div class="row">
        <a href="#">
            <img src="assets/icons/publicSector-logo.jpg" class="publicSectorlogo" alt="publicSector-logo">
        </a>
    </div>
</div>
<cx-storefront></cx-storefront>
