<!-- <ng-template cxOutletRef="Section2B" cxOutletPos="after" let-model> -->
    <div class="logos">
        <div class="row">
            <a href="#" class="hybris">
                <img src="assets/icons/hybris-logo.jpg" class="hybrislogo" alt="hybrislogo">
            </a>
        </div>
        <div class="row title">
            <a href="#" class="publicsector">
                <img src="assets/icons/publicSector-logo.jpg" class="publicSectorlogo" alt="publicSector-logo">
            </a>
        </div>
    </div>
<!-- </ng-template> -->
<!-- <ng-template cxOutletRef="PreHeader" cxOutletPos="before" let-model>
    <app-logos></app-logos>
</ng-template> -->