body{
    overflow-x: hidden;
}

main {
    padding-bottom: 3%;
}
cx-category-navigation div.hybrislogo{
    display: none;
}
app-pscustom-featured-links {
    color: white;
    background: #182029;
    min-height: 220px;
    position: relative;
    margin-top: 0;

    cx-page-slot.Section1 app-pscustom-simple-banner .banner-text-wrapper .banner-text {
        text-align: center;
    }

    cx-page-slot.Section2B app-pscustom-banner .hero-boxes-wrapper .simple-responsive-banner-component {
        padding-top: 0%;
        padding-bottom: 0%;

        .js-responsive-image img {
            width: auto;
            height: 300px;

            span {
                font-size: 24px;
            }
        }
    }

    cx-page-slot.Section2B app-pscustom-banner {
        max-width: fit-content;
    }


    cx-storefront header {
        cx-page-layout.header {
            margin: 0%;
        }
    }
}
app-pscustom-featured-links {
    width: 100%;
    padding: 0;
    border-top: 1px solid rgba(189, 189, 189, 0.5);
    text-decoration: none;
}

main cx-page-layout.LandingPage2Template cx-page-slot.Section2A app-pscustom-featured-links .frequentserviceslist a {
    color: white;
}

app-pscustom-featured-links h2 {
    color: var(--cx-color-services);
   // color: #fff;
    // padding-left: 800px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 15px 0 0 40px;
    line-height: 1.2;
}

cx-page-layout.LandingPage2Template cx-page-slot.Section2C {
    --cx-flex-basis: 50%;
    margin: auto;
}

// state of rose bud 
main cx-page-layout.LandingPage2Template {
    /* display: flex; */
    display: block;
    flex-wrap: wrap;
}


//responsive
a cx-media {
    position: relative;
    display: auto;
    width: auto;
    padding: 10px;
}

cx-media {
    position: relative;
    display: flex;
}

main cx-page-layout.LandingPage2Template cx-page-slot.Section2A,
cx-page-layout.LandingPage2Template cx-page-slot.Section2B {
    --cx-flex-basis: 1 !important;
    max-width: 100% !important;
}

cx-page-layout.LandingPage2Template cx-page-slot.Section2B {
    padding-top: 5%;
}

main .LandingPage2Template .Section2B cx-banner cx-generic-link a .headline {
    font-weight: normal;
    font-size: 1.5vw;
    display: flex;
    padding-top: 17%;
    overflow-wrap: break-word;
    width: auto;
    line-height: 1;
    font-family: sans-serif;
    margin: 0 3% 0 3%;
}

cx-page-slot.Section2C .heading {
    padding-bottom: 2px;
}

cx-page-slot.Section2C app-psenhanced-custom-banner:nth-of-type(1) .latest-news {
    margin-left: 10%;
}

main cx-page-layout.LandingPage2Template cx-page-slot.Section1 {
    max-width: 100%;
    margin: 0%;

    cx-banner cx-generic-link cx-media {
        padding: 0%;
    }
}

cx-storefront header .NavigationBar {
    flex: 100%;
    min-height: auto;
}

cx-storefront main .LandingPage2Template {
    background: var(--cx-color-main-background);
  //  background: #eee;

}
 //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          MOBILE STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      // 0 - 639px 
      @include media-breakpoint-down(sm) {
        cx-storefront{
            overflow-x: hidden;
        }
        app-pscustom-simple-banner .banner-text-wrapper .banner-text {
            text-align: center;
        }
        main cx-page-layout.LandingPage2Template cx-page-slot.Section1 app-pscustom-simple-banner img{
            height: 367px;
            object-fit: cover;
        }
        cx-page-slot.Section2C app-psenhanced-custom-banner {
            .latest-news-content {
                   max-width: 100%;
                   width: 100%;
                }
        
                .latest-news-component .latest-news-box-wrapper {
                    max-width: 100%;
                }
            }
            cx-page-layout.LandingPage2Template cx-page-slot.Section2B{
                padding-top: 0%;
            }
        
            cx-page-layout.LandingPage2Template cx-page-slot.Section2C {
                --cx-flex-basis: 100%;
            }
        
            cx-page-slot.Section2C app-psenhanced-custom-banner:nth-of-type(1) .latest-news {
                margin-left: 0%;
            }
            cx-page-slot.Section2B app-pscustom-banner .hero-boxes-wrapper .simple-responsive-banner-component {
                padding-top: 0%;
                padding-bottom: 0%;
                .js-responsive-image img{
                    width: auto;
                    height: 300px;
                    span{
                        font-size: 24px;
                    }
                }
            }
            cx-page-slot.Section2B app-pscustom-banner{
                max-width: fit-content;
            }
             cx-storefront header {
                cx-page-layout.header{
                    margin: 0%;
                    background-color: var(--header-background-color);
                }
            }
            cx-storefront.LandingPage2Template main .LandingPage2Template {
                background: var(--cx-color-links);
            
            }

            cx-page-slot.Section2B app-pscustom-banner .hero-boxes-wrapper .simple-responsive-banner-component {
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
               // padding: 0 0 0 0;
               padding: 0px !important;
            }
            cx-category-navigation div.hybrislogo{
                position: fixed;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                background-color: #f5f5f5;
                width: 100%;
                padding: 10px 20px 9px 20px;
                margin: 0;
                height: auto;
            }
            app-logos .title{
                padding-bottom: 0%;
            }
        }
      
       
      
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //                          TABLET STYLES
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      //************************************************************
      
      // 640px - 1023px 
      @include media-breakpoint-between(sm,md) {
        cx-storefront{
            overflow-x: hidden;
        }
        cx-page-slot.Section2B app-pscustom-banner .hero-boxes-wrapper .simple-responsive-banner-component {
            padding-top: 0%;
            padding-bottom: 0%;
            .js-responsive-image img{
                width: auto;
                height: 300px;
                span{
                    font-size: 24px;
                }
            }
        }
        cx-page-slot.Section2B app-pscustom-banner{
            max-width: fit-content;
        }
        cx-storefront.LandingPage2Template main .LandingPage2Template {
            background: var(--cx-color-links);
        }
        cx-page-slot.Section2B div.heading .news{
            margin-bottom: 35px;
            margin-top: 80px;
        }
    
         cx-storefront header {
            cx-page-layout.header{
                margin: 0%;
            }
        }

        cx-page-slot.Section2C app-psenhanced-custom-banner {
            .latest-news-content {
                width: 100%;
                padding-right: 0px;
            }
            .latest-news-component .latest-news-box-wrapper {
                max-width: 100%;
            }
        }
        cx-page-layout.LandingPage2Template cx-page-slot.Section2C {
            --cx-flex-basis: 100%;
        }

        cx-page-layout.LandingPage2Template cx-page-slot.Section2C app-psenhanced-custom-banner{
            width: 100%;

        }
    
        cx-page-slot.Section2C app-psenhanced-custom-banner:nth-of-type(1) .latest-news {
            margin-left: 0%;
        }
        cx-category-navigation div.hybrislogo{
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            background-color: #f5f5f5;
            width: 100%;
            padding: 10px 20px 9px 20px;
            margin: 0;
            height: auto;
        }
        app-logos .title{
            justify-content: center;
            padding-bottom: 5%;
        }

      }