.links-head{
    padding: 25px 0;
    text-align: center;
    overflow: hidden;
}
h2{
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: 400;
    color: #002f6c;
}
.icons{
    display: inline-block;
    margin: 0 11px;
    overflow: hidden;
    border-radius: 50%;
}
.facebook, .twitter, .linkedin, .youtube, .instagram{
    width: 54px;
    height: 54px;
    background-size: 54px;
    margin: 0;
    text-indent: 100%;
    white-space: nowrap;
    position: static;
    overflow: hidden;
}
.text-center{
    padding-bottom: 5%;
}