<!-- <h1>{{(data$ | async).headline}}</h1>
<a>{{(data$ | async).links}}</a> -->
<div class="container">
    <div class="links-head">
        <h2>{{(data$ | async).headline}}</h2>
    </div>
    <div class="social-media">
        <!-- <a>{{(data$ | async).links}}</a> -->
        <span class="icons">
            <a href="https://www.facebook.com" title="Facebook" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/facebook.png" class="facebook">
            </a>
        </span>
        <span class="icons">
            <a href="https://twitter.com" title="Twitter" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/twitter.png" class="twitter">
            </a>
        </span>
        <span class="icons">
            <a href="https://www.linkedin.com" title="LinkedIn" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/linkedin.png" class="linkedin">
            </a>
        </span>
        <span class="icons">
            <a href="https://www.youtube.com" title="YouTube" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/youtube.webp" class="youtube">
            </a>
        </span>
        <span class="icons">
            <a href="https://www.instagram.com" class="follow-us-instagram icon" title="Instagram" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/instagram.jpg" class="instagram">
            </a>
        </span>
    </div>
</div>